body {
  font-family: 'Lato', sans-serif !important;
}

.nav-bar-custom {
  background-color: #046380;
  color: white;
}

.nav-bar-custom a{
  color: white;
}

.nav-bar-custom a:hover{
  color: black;
}

.jumbo-top {
	text-align: center;
  margin-bottom: 0 !important;
}

.jumbo-top h1 {
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

input.form-control {
  width: 600px !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.upvote-downvote-wrapper {
  width: 63px !important;
  text-align: center;
}

i.fa-sort-asc, i.fa-sort-desc {
  font-size: 25px;
}

i.fa-sort-asc:hover, i.fa-sort-desc:hover {
  cursor: pointer;
  color: #046380;
}

i.fa-sort-asc:active, i.fa-sort-desc:active {
  cursor: pointer;
  color: #03495e;
}

.idea-container:hover {
  cursor: pointer;
}

.idea-title {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.idea-title:hover {
  text-decoration: underline;
}

.idea-post:hover {
  background-color: #fff5e2;
}

.idea-post {
  padding-top: 15px;
  padding-bottom: 15px;
}

i.fa-comments {
  font-size: 30px;
}

i.fa-comments:hover {
  cursor: pointer;
  color: #046380;
}

i.fa-comments:active {
  cursor: pointer;
  color: #03495e;
}

.comments-wrapper {
  margin-top: 10px;
  width: 50px;
  text-align: center;
  float: right;
}

.vote-points {
  padding: 5px 0;
}

.timestamp-author {
  margin-bottom: 0;
}

