<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 login-form" ng-controller="AuthCtrl as actrl">
    <form class="form-signin" name="signupForm" ng-submit="signupForm.$valid && ctrl.signup()" /novalidate>
      <img class="logo-large" src="../../assets/glint-logo-large-teal.png" alt="">

      <label for="inputEmail" class="sr-only">Email address</label>
      <p class="error" ng-show="signupForm.username.$error.required">Required Field</p>
      <input type="text" name="username" ng-model="actrl.user.username" id="inputUsername" class="form-control login-form-input" placeholder="Username" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <p class="error" ng-show="signupForm.password.$error.required">Required Field</p>
      <input type="password" name="password" ng-model="actrl.user.password" id="inputPassword" class="form-control login-form-input" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block login-button" type="submit" ng-disable="signupForm.$invalid">Sign up</button>
      <p class="sign-up-here">Already registered? Login <a href="#/login">here</a></p>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>